@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* width */
  ::-webkit-scrollbar {
    @apply w-2 h-2;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-primary-400
  }


  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-secondary-400
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-secondary-300
  }
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  @apply overflow-x-hidden w-screen
  text-accent bg-white font-inter;
}

main {
  @apply max-w-screen-2xl mx-auto px-3;
}

a, button {
  @apply font-kanit font-medium
}